* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* justify-content: space-between; */
}

h1 {
    text-align: center;
    margin: 50px auto;
}

.task {
    width: 80%;
    /* border: 1px solid rgb(155, 224, 64); */
}

.task h2 {
    text-align: center;
    margin: 5px auto;
}

.task img {
    width: 100%;
}

.task button {
    width: 100%;
    margin: 5px auto;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: turquoise;
}